@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin-left: 20px;
  
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 30px;

}
.right-links {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 0;
  margin-right: 23px;
}
.left-links {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 0;
}
a {
  text-decoration: none;
  color: black;
  }
ul {
  list-style-type: none;
}
li :hover {
  color: blue;
}