body {
  background:darkslategray;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: gray;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font: 16px;
  padding: 8px;
  margin-top: 2px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
  padding-bottom: 16px;
}

button {
  background: white;
  display: block;
  border: 1px solid #eee;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;

}